body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}
 #starfield {
    width:100%;
    height:100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}

#background-container,
#game-container {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#gameCanvas {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#welcome {
  z-index: 15;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; 
  color: chartreuse;
}

.hidden {
  display: none;
}