<!DOCTYPE html>
  <html>
    <head>
      <title>Q-Ships</title>
      <link rel="stylesheet" href="application.css">
      <script src="starBackground/starBackground.js"></script>
      <script src="render.js"></script>
      <script src="../Models/game.js" type="text/javascript"></script>
      <script src="../Models/player.js" type="text/javascript"></script>
      <script src="../Models/flyingObject.js" type="text/javascript"></script>
      <script src="../Models/ship.js" type="text/javascript"></script>
      <script src="../Models/pew.js" type="text/javascript"></script>
      <script src="../Controllers/router.js" type="text/javascript"></script>
      <script src="../Controllers/controller.js" type="text/javascript"></script>

    </head>

    <body>
      <div id='container'>

        <div id="background-container">
          <canvas id="starField"></canvas>
        </div>

        <div id="game-container">
          <canvas id="gameCanvas"></canvas>
        </div>

      </div>
    </body>
</html>
